body{

margin:0;
font-family:Arial;
background:#121212;
color:white;

}

.navbar{

display:flex;
justify-content:space-between;
padding:15px 40px;
background:#000;

}

.navbar h2{

color:#1db954;

}

.links a{

margin-left:20px;
color:white;
text-decoration:none;

}

.container{

text-align:center;
margin-top:120px;

}

.upload-box{

background:#181818;
padding:40px;
width:400px;
margin:auto;
border-radius:12px;

}

input{

margin:20px;
color:white;

}

button{

background:#1db954;
border:none;
padding:10px 25px;
border-radius:20px;
font-size:16px;
cursor:pointer;

}

button:hover{

background:#1ed760;

}

.hidden{

display:none;

}

.spinner{

border:6px solid #333;
border-top:6px solid #1db954;
border-radius:50%;
width:40px;
height:40px;
animation:spin 1s linear infinite;
margin:auto;

}

@keyframes spin{

0%{transform:rotate(0deg);}
100%{transform:rotate(360deg);}

}

audio{

margin-top:20px;

}